:root {
  --color-white: white;
  --color-black: black;

  --color-blood: #ff008a;
  --color-red: #cf0030;
  --color-orange: #ca501f;
  --color-yellow: #caaf30;
  --color-lime: #83cf0c;
  --color-green: #1ccf33;
  --color-aqua: #0ccf83;
  --color-blue: #0083cf;
  --color-purple: #6f1ab3;

  --radius: 6px;
  font-size: 1rem;
}

html {
  --color-on: var(--color-black);
  --color-off: var(--color-white);
  --color-half: color-mix(in srgb, var(--color-on), var(--color-off) 50%);
  --color-accent: var(--color-blood);
}

[data-theme="dark"] {
  --color-on: var(--color-white);
  --color-off: var(--color-black);
}

[data-theme="system"] {
  @media (prefers-color-scheme: dark) {
    --color-on: var(--color-white);
    --color-off: var(--color-black);
  }
}

html,
body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  color: var(--color-on);
  background-color: var(--color-off);
}

* {
  font-family: monospace;
  font-size: 0.75rem;
  user-select: none;
}

#app {
  display: flex;
  width: 100vw;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 640px;
  height: 100%;
  margin: auto;
  padding: 1rem;
  gap: 0.25rem;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 480px;
  margin: auto;
  gap: 0.25rem;

  &,
  & > * {
    width: 100%;
  }
}

input,
button {
  box-sizing: border-box;
  display: inline-block;
  margin: unset;
  padding: unset;
  background: unset;
  border: unset;
}

h1 {
  margin: 0.5rem 0;
}

a {
  color: unset;
  text-decoration: none;
}

.rainbow {
  position: relative;
  display: inline-block;
  color: transparent;
  background-clip: text;
  background-size: 800px 100%;
  background-image: linear-gradient(
    90deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(255, 154, 0, 1) 10%,
    rgba(208, 222, 33, 1) 20%,
    rgba(79, 220, 74, 1) 30%,
    rgba(63, 218, 216, 1) 40%,
    rgba(47, 201, 226, 1) 50%,
    rgba(28, 127, 238, 1) 60%,
    rgba(95, 21, 242, 1) 70%,
    rgba(186, 12, 248, 1) 80%,
    rgba(251, 7, 217, 1) 90%,
    rgba(255, 0, 0, 1) 100%
  );
  background-repeat: repeat-x;
  animation: rgb 4s linear infinite;
}

@keyframes rgb {
  to {
    background-position-x: 800px;
  }
}
