@import 'tailwindcss';

@layer base {
  html {
    --color-bg: white;
    --color-fg: black;
  }

  [data-theme='dark'] {
    --color-bg: black;
    --color-fg: white;
  }

  [data-theme='system'] {
    @media (prefers-color-scheme: dark) {
      --color-bg: black;
      --color-fg: white;
    }
  }

  * {
    font-family: monospace;
    transition:
      color 0.2s ease,
      background-color 0.2s ease,
      border-color 0.2s ease;
  }

  body {
    color: var(--color-fg);
    background-color: var(--color-bg);
  }
}

@utility text-color {
  color: var(--color-fg);
}

@utility text-color-disabled {
  color: color-mix(in srgb, var(--color-fg), transparent 50%);
}

@utility bg-color {
  background-color: var(--color-bg);
}

@utility border-color {
  border-color: color-mix(in srgb, var(--color-fg), transparent 50%);
}

@utility feather {
  @apply w-6 h-6 fill-none stroke-current stroke-2;
  stroke-linecap: round;
  stroke-linejoin: round;
}
